Gracias por comprar en {{ company_name }} a través de FlameoApp!<br><br>

Puedes ver el recibo de tu compra en el siguiente enlace:<br>
<a href="{{ url }}">{{ url }}</a><br><br>

Atentamente,<br>
{{ company_name }} y FlameoApp