<h2>Hola {{company_name}}!</h2>

<p>
    Te escribimos desde Flameoart para informarte que has completado tu registro con éxito. En cuanto te aprobemos la cuenta podrás subir 
    tus productos y compartir tu espacio en la web. Estamos encantados de tenerte con nosotros.
</p>

<p>
   En cuanto actives Stripe (nuestro proveedor de pasarelas de pagos seguro) podrás vender tu arte y recibir pagos de forma automática en tu cuenta. Además,
   si terminas este registro, publicaremos las obras que subas a tu perfil en nuestra galería online: gallery.flameoart.com
</p>

<p>
    Esperamos que tengas mucho éxito con nosotros!
</p>

