Estadísticas de hoy:<br><br>

Visitas únicas totales: {{ n_unique_visitors }}<br>
Visitantes a landing page: {{ n_visitors_landing_page }}<br>
Visitantes a acceso: {{ n_visitors_acess }}<br>
Visitantes de landing page y acceso: {{ n_visitors_access_after_landing }}<br>
Visitantes a registro: {{ n_visitors_open_signin }}<br>
Visitantes a contacto: {{ n_visitors_open_contact }}<br>
Visitantes que han continuado a Stripe: {{ n_visitors_continue_to_stripe }}<br><br>
Visitantes a pros: {{ companies_visitors }}<br><br>
Rutas accedidas por usuarios únicos: {{ routes_access }}<br>
