Estimado/a {{ client_name }},<br><br>

En un email previo le hemos informado de que su pedido en {{ company_name }} 
había sido cancelado. Dicha información se ha debido a un error, 
su pedido continua correctamente.<br>
Disculpe las molestias.<br><br>

Atentamente,<br>
{{ company_name }} y FlameoApp