Hola {{ name }},<br><br>

Desde FlameoArt, queremos aprovechar esta época festiva para enviarte nuestros más cálidos deseos de felicidad, salud y éxito en este fin de año y para el próximo 2024.<br>
Este año ha sido un viaje increíble en el mundo del arte, y tu contribución a través de tus magníficas obras ha sido fundamental para enriquecer nuestra comunidad de artistas y amantes del arte. Tu creatividad y dedicación son la esencia que impulsa nuestra plataforma.<br><br>

Mientras nos acercamos al Año Nuevo, queremos expresarte nuestro sincero agradecimiento por elegir FlameoArt como el hogar de tu arte. Estamos emocionados de seguir siendo parte de tu viaje artístico en 2024 y más allá, y estamos comprometidos a apoyarte en cada nueva creación.<br><br>

Que esta temporada sea un momento de inspiración y alegría para ti. Estamos ansiosos por ver las nuevas y emocionantes obras que nos traerá el 2024, y te aseguramos que estaremos aquí para celebrar cada uno de tus logros.<br><br>

Feliz Navidad y un próspero Año Nuevo,<br>
Atentamente, el equipo de FlameoArt
<br>
<img src="https://flameoapp.com/merry_christmas.png" style="max-width: 15cm; width: 100%;">