<h2>Estimado Artista</h2>

<p>
    Queríamos darte una noticia que nos hace especial ilusión. Estrenamos Galería!
</p>

<p>
Todos los artistas que habéis completado el registro y subido obras, estáis en ella. Podéis acceder en el link inferior.
</p>

<p>
    <a href="https://gallery.flameoart.com">gallery.flameoart.com</a>
</p>

<p>
    Esta es una galería para vosotros, para ayudaros a dar visibilidad a vuestro arte.
</p>

<p>
    Si tienes cualquier duda nos puedes mandar un correo a: info@flameoapp.com. Un saludo y mucha suerte!
</p>
    



<p>El equipo de FlameoArt</p>