<h2>Hola {{name}}!</h2>

<p>
    Bienvenid@ a Flameoart. Solo queríamos decirte que tu registro ha ido bien. Ya has dado el primer paso para tener tu propia galería en la web!
</p>

<p>
    Para poder mostrarte como quedaría tu espacio, necesitamos que rellenes algunos detalles más (el nombre de tu web, una foto de fondo, una pequeña descripción..)
     Es súper fácil, en 3 minutos lo tienes hecho.  Te dejamos el enlace aquí debajo:
</p>

<p>
    <a href="https://flameoart.com/acceso">flameoart.com/acceso</a>
</p>

<p>
    Por si tienes alguna duda, usar FlameoArt es completamente gratis. Puedes publicar tu web con tus obras sin introducir ningún dato bancario. Si quieres que la gente pueda 
    comprarte las obras por internet con nosotros, puedes completar el registro con Stripe en la pestaña de transacciones. De estas ventas, 
    nosotros ganamos el 5%. Una vez
    hagas una venta recibirás automáticamente el dinero (menos la comisión) por transferencia. 
</p>

<p>
    Si tienes cualquier duda nos puedes mandar un correo a: info@flameoapp.com. Te dejamos también la galería de 
    uno de nuestros artistas. 

</p>

<p>
    <a href="https://constantine.flameoart.com">constantine.flameoart.com</a>
</p>

<p> Un saludo y mucha suerte"</p>